In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [2]:
train_df = pd.read_csv('C:/Users/LENOVO/Desktop/project/Datasets/train.csv')
test_df = pd.read_csv('C:/Users/LENOVO/Desktop/project/Datasets/test.csv')

In [3]:
train_df.sample(10)

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,...,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
112617,ID_TZ200555,32,Female,Bachelors degree(BA AB BS),Federal government,NaN,Married-civilian spouse present,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1498.38,Below limit
142766,ID_TZ39333,32,Female,5th or 6th grade,NaN,NaN,Never married,White,Mexican (Mexicano),Children or Armed Forces,...,Mexico,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1475.44,Below limit
118280,ID_TZ205657,43,Male,High school graduate,Private,NaN,Married-civilian spouse present,White,All other,Full-time schedules,...,US,?,?,?,?,NaN,NaN,NaN,1673.69,Below limit
139405,ID_TZ36278,38,Male,Bachelors degree(BA AB BS),Private,NaN,Married-civilian spouse present,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,3245.80,Above limit
163019,ID_TZ57745,37,Male,Bachelors degree(BA AB BS),Private,NaN,Never married,White,All other,Full-time schedules,...,US,?,?,?,?,NaN,NaN,NaN,3726.51,Below limit
68844,ID_TZ16112,7,Female,Children,NaN,NaN,Never married,White,All other,Children or Armed Forces,...,US,?,?,?,?,NaN,NaN,NaN,1358.64,Below limit
4377,ID_TZ103041,86,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,3692.72,Below limit
1120,ID_TZ100107,48,Female,Bachelors degree(BA AB BS),Self-employed-not incorporated,NaN,Married-civilian spouse present,White,All other,PT for non-econ reasons usually FT,...,US,?,?,?,?,NaN,NaN,NaN,2315.79,Below limit
120052,ID_TZ207253,7,Female,Children,NaN,NaN,Never married,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,326.43,Below limit
158059,ID_TZ53236,1,Male,Children,NaN,NaN,Never married,White,All other,Children or Armed Forces,...,US,?,?,?,?,NaN,NaN,NaN,465.70,Below limit

In [4]:
train_df.shape

(209499, 43)

In [ ]:
train_df.isna().sum()

In [ ]:
# Select only numeric columns
numeric_columns = train_df.select_dtypes(include=['number'])

# Calculate the correlation matrix
correlation_matrix = numeric_columns.corr()

# Print the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

# If you want to see correlation values for a specific feature, you can do:
# Replace 'target_feature' with the name of the feature you're interested in
target_feature_correlation = correlation_matrix['importance_of_record']
print("\nCorrelation with Target Feature:")
print(target_feature_correlation)

In [1]:
# Select only numeric columns
numeric_columns = train_df.select_dtypes(include=['number'])

# Calculate the correlation matrix
correlation_matrix = numeric_columns.corr()

# Plot the correlation heatmap
plt.figure(figsize=(12, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
plt.title('Correlation Heatmap')
plt.show()

NameError: name 'train_df' is not defined

In [ ]:
X_train = train_df.iloc[:,:-2]
Y_train = train_df.iloc[:,-1]
X_test = test_df

In [ ]:
train_df['income_above_limit'].head(5)

In [ ]:
train_df['income_above_limit'] = train_df['income_above_limit'].map({'Above limit': 1, 'Below limit': 0})

In [ ]:
train_df['income_above_limit'].sample(10)

In [ ]:
missing_percentage = {col: (train_df[col].isnull().sum() / len(train_df[col])) * 100 for col in train_df.columns}
missing_val = pd.DataFrame({'%_missing_val': missing_percentage})
missing_val

In [ ]:
train_df.drop(columns=['ID','class','education_institute','unemployment_reason','is_labor_union','occupation_code_main','under_18_family','veterans_admin_questionnaire','migration_prev_sunbelt','residence_1_year_ago','old_residence_reg','old_residence_state'],inplace=True)

In [ ]:
test_df.drop(columns=['ID','class','education_institute','unemployment_reason','is_labor_union','occupation_code_main','under_18_family','veterans_admin_questionnaire','migration_prev_sunbelt','residence_1_year_ago','old_residence_reg','old_residence_state'],inplace=True)

In [ ]:
#handling missing values
original_class=pd.DataFrame(train_df["migration_code_change_in_msa"].value_counts()/train_df.shape[0])

train_df['migration_code_change_in_msa_imputed']=train_df['migration_code_change_in_msa']

train_df['migration_code_change_in_msa_imputed'][train_df['migration_code_change_in_msa_imputed'].isnull()] = train_df['migration_code_change_in_msa'].dropna().sample(train_df['migration_code_change_in_msa'].isnull().sum(),replace=True).values

In [ ]:
# Calculate the frequency of each category in the column 'migration_code_change_in_msa'
original_class = train_df["migration_code_change_in_msa"].value_counts(normalize=True).to_frame()

# Create a copy of the column 'migration_code_change_in_msa' to impute missing values
train_df['migration_code_change_in_msa_imputed'] = train_df['migration_code_change_in_msa']

# Get the non-missing values from the column 'migration_code_change_in_msa'
non_missing_values = train_df['migration_code_change_in_msa'].dropna()

# Sample from the non-missing values to impute missing values
imputed_values = np.random.choice(non_missing_values, size=train_df['migration_code_change_in_msa'].isnull().sum(), replace=True)

# Replace missing values with imputed values
train_df.loc[train_df['migration_code_change_in_msa_imputed'].isnull(), 'migration_code_change_in_msa_imputed'] = imputed_values

In [ ]:
# Calculate the frequency of each category in the column 'migration_code_change_in_msa'
original_class = test_df["migration_code_change_in_msa"].value_counts(normalize=True).to_frame()

# Create a copy of the column 'migration_code_change_in_msa' to impute missing values
test_df['migration_code_change_in_msa_imputed'] = test_df['migration_code_change_in_msa']

# Get the non-missing values from the column 'migration_code_change_in_msa'
non_missing_values = test_df['migration_code_change_in_msa'].dropna()

# Sample from the non-missing values to impute missing values
imputed_values = np.random.choice(non_missing_values, size=test_df['migration_code_change_in_msa'].isnull().sum(), replace=True)

# Replace missing values with imputed values
test_df.loc[test_df['migration_code_change_in_msa_imputed'].isnull(), 'migration_code_change_in_msa_imputed'] = imputed_values

In [ ]:
train_df['migration_code_change_in_msa']

In [ ]:
missing_percentage = train_df.apply(lambda x: (x.isnull().sum() / len(x)) * 100)
missing_val = pd.DataFrame({'%_missing_val': missing_percentage})
missing_percentage

In [ ]:
# Count the occurrences of each category
class_counts = train_df['migration_code_change_in_msa'].value_counts()
class_count_imputed= train_df['migration_code_change_in_msa_imputed'].value_counts()
# Plotting histograms using seaborn
plt.figure(figsize=(10, 6))
sns.histplot(train_df['migration_code_change_in_msa'], color='orange', label='migration_code_change_in_msa', stat='count', discrete=True)
sns.histplot(train_df['migration_code_change_in_msa_imputed'], color='blue', label='migration_code_change_in_msa_imputed', stat='count', discrete=True)

# Adding labels and legend
plt.xlabel('migration_code_change_in_msa')
plt.ylabel('Count')
plt.title('Histograms of migration_code_change_in_msa_imputed + imputed-migration_code_change_in_msa')
plt.legend()

# Show the plot
plt.show()

In [ ]:
# Calculate the percentage of each category in the original column 'migration_code_change_in_msa'
temp_left = (train_df['migration_code_change_in_msa'].value_counts() / len(train_df)) * 100

# Calculate the percentage of each category in the imputed column 'migration_code_change_in_msa_imputed'
temp_right = (train_df['migration_code_change_in_msa_imputed'].value_counts() / len(train_df)) * 100

# Concatenate the two DataFrames side by side for comparison
result_final = pd.concat([temp_left, temp_right], axis=1)

# Display the result to compare the proportions
result_final

In [ ]:
# Count the occurrences of each category
class_counts = train_df['migration_code_change_in_msa'].value_counts()
class_count_imputed= train_df['migration_code_change_in_msa_imputed'].value_counts()
# Plotting histograms using seaborn
plt.figure(figsize=(10, 6))
sns.histplot(train_df['migration_code_change_in_msa'], color='orange', label='migration_code_change_in_msa', stat='count', discrete=True)
sns.histplot(train_df['migration_code_change_in_msa_imputed'], color='blue', label='migration_code_change_in_msa_imputed', stat='count', discrete=True)

# Adding labels and legend
plt.xlabel('migration_code_change_in_msa')
plt.ylabel('Count')
plt.title('Histograms of migration_code_change_in_msa_imputed + imputed-migration_code_change_in_msa')
plt.legend()

# Show the plot
plt.show()

In [ ]:
# Calculate the percentage of each category in the original column 'migration_code_change_in_msa'
temp_left = (train_df['migration_code_change_in_msa'].value_counts() / len(train_df)) * 100

# Calculate the percentage of each category in the imputed column 'migration_code_change_in_msa_imputed'
temp_right = (train_df['migration_code_change_in_msa_imputed'].value_counts() / len(train_df)) * 100

# Concatenate the two DataFrames side by side for comparison
result_final = pd.concat([temp_left, temp_right], axis=1)

# Display the result to compare the proportions
result_final

In [ ]:
test_df['migration_code_change_in_msa']=test_df['migration_code_change_in_msa_imputed']
train_df['migration_code_change_in_msa']=train_df['migration_code_change_in_msa_imputed']

In [ ]:
# Calculate the frequency of each category in the column 'migration_code_change_in_msa'
original_class = train_df["migration_code_change_in_msa"].value_counts(normalize=True).to_frame()

# Create a copy of the column 'migration_code_change_in_msa' to impute missing values
train_df['migration_code_change_in_msa_imputed'] = train_df['migration_code_change_in_msa']

# Get the non-missing values from the column 'migration_code_change_in_msa'
non_missing_values = train_df['migration_code_change_in_msa'].dropna()

# Sample from the non-missing values to impute missing values
imputed_values = np.random.choice(non_missing_values, size=train_df['migration_code_change_in_msa'].isnull().sum(), replace=True)

# Replace missing values with imputed values
train_df.loc[train_df['migration_code_change_in_msa_imputed'].isnull(), 'migration_code_change_in_msa_imputed'] = imputed_values

In [ ]:
train_df.groupby('gender')['income_above_limit'].value_counts().unstack().plot(kind='bar', stacked=True)

In [ ]:
train_df.groupby('education')['income_above_limit'].value_counts().unstack().plot(kind='bar', stacked=True)

In [ ]:
train_df[['education','income_above_limit']].groupby('education').mean()*100

In [ ]:
train_df.groupby('marital_status')['income_above_limit'].value_counts().unstack().plot(kind='bar', stacked=True)

In [ ]:
train_df[['marital_status','income_above_limit']].groupby('marital_status').mean()*100

In [ ]:
train_df['migration_code_move_within_reg'].value_counts()

In [ ]:
#handling missing values
original_class=pd.DataFrame(train_df["migration_code_change_in_msa"].value_counts()/train_df.shape[0])

train_df['migration_code_change_in_msa_imputed']=train_df['migration_code_change_in_msa']

train_df['migration_code_change_in_msa_imputed'][train_df['migration_code_change_in_msa_imputed'].isnull()] = train_df['migration_code_change_in_msa'].dropna().sample(train_df['migration_code_change_in_msa'].isnull().sum(),replace=True).values

In [ ]:
train_df['migration_code_change_in_reg'].value_counts()

In [ ]:
train_df[['migration_code_change_in_reg','migration_code_move_within_reg']].sample(10) #duplicate columns

In [ ]:
train_df.drop(columns=['migration_code_change_in_reg','migration_code_move_within_reg','migration_code_change_in_msa_imputed'],inplace=True)

In [ ]:
train_df.isnull().mean()

In [ ]:
categorical_columns = train_df.select_dtypes(include=['object']).columns.tolist()

In [ ]:
train_df[categorical_columns].info()

In [ ]:
categorical_col=['gender','education','marital_status','race','is_hispanic','employment_commitment','industry_code_main','household_stat','household_summary','tax_status','citizenship','country_of_birth_own','country_of_birth_father','country_of_birth_mother','migration_code_change_in_msa']

In [ ]:
numerical_columns = [col for col in train_df.columns if col not in categorical_columns]

In [ ]:
label_encoders = {}
for col in categorical_columns:
    le = LabelEncoder()
    train_df[col] = le.fit_transform(train_df[col])
    label_encoders[col] = le

In [ ]:
train_df_numerical=train_df[numerical_columns]

In [ ]:
train_df_categorical=train_df[categorical_col]

In [ ]:
train_df_numerical.isnull().mean() #missing data in dataset

In [ ]:
le=LabelEncoder()

In [ ]:
for i in categorical_col:
    train_df[i]=le.fit_transform(train_df[i])

In [ ]:
scaler=StandardScaler()

In [ ]:
for i in train_df_numerical:
    train_df[i]=le.fit_transform(train_df[i])

In [ ]:
#other columns
other_col=[]
for i in train_df.columns:
    if ((i not in categorical_columns) and (i not in train_df_numerical)):
        other_col.append(i)

In [ ]:
train_df['income_above_limit']

In [ ]:
X = train_df.drop(columns=['income_above_limit'])
Y = train_df['income_above_limit']

# Split dataset into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=256)

# Train RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, Y_train)

In [ ]:
# Make predictions on the testing set
Y_pred = rfc.predict(X_test)

# Evaluate the performance of the model
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Calculate accuracy
accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy)

# Generate a classification report
print("\nClassification Report:")
print(classification_report(Y_test, Y_pred))

# Generate a confusion matrix
print("\nConfusion Matrix:")
print(confusion_matrix(Y_test, Y_pred))

In [ ]:
data_point = X.loc[65225]
prediction = rfc.predict([data_point])

# Output the prediction
print("Prediction for the selected data point:", prediction[0])
if(prediction[0] == 1):
     print('Above limit')
else:
     print('Below limit')

In [ ]:
# Get feature importance scores from the trained RandomForestClassifier model
feature_importance = rfc.feature_importances_

# Create a DataFrame to display feature importance
feature_importance_df = pd.DataFrame({'Feature': X.columns, 'Importance': feature_importance})

# Sort the DataFrame by feature importance (descending order)
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

# Print the top features by importance
print("Top features by importance:")
print(feature_importance_df.head(10))

# Plot feature importance
plt.figure(figsize=(10, 6))
sns.barplot(x='Importance', y='Feature', data=feature_importance_df.head(10), palette='viridis')
plt.title('Top 10 Features by Importance')
plt.xlabel('Importance')
plt.ylabel('Feature')
plt.show()

In [ ]:
from sklearn.metrics import precision_recall_fscore_support
# Calculate precision, recall, and F1-score
# Calculate precision, recall, and F1-score
precision, recall, f1_score, _ = precision_recall_fscore_support(Y_test, Y_pred, average='binary')
accuracy = accuracy_score(Y_test, Y_pred)

# Create a DataFrame for the metrics
metrics_df = pd.DataFrame({
    'Metric': ['Precision', 'Recall', 'F1-score', 'Accuracy'],
    'Score': [precision, recall, f1_score, accuracy]
})

# Plot the metrics using seaborn
plt.figure(figsize=(10, 6))
sns.pointplot(x='Metric', y='Score', data=metrics_df, color='blue', markers='o')
plt.title('Model Evaluation Metrics')
plt.ylabel('Score')
plt.ylim(0, 1)  # Set y-axis limit from 0 to 1
plt.grid(True)  # Add gridlines for better readability
plt.show()